.article-page-create_article {
    .article-content {
        padding: 30px 15px;

        @include tablet-all {
            padding: 30px 30px;
        }

        blockquote {
            width: 100%;
            position: relative;
            padding-left: 40px;
            border-bottom: 1px solid transparent;

            &:focus {
                outline: 0;
                border-bottom-color: $color-primary16;
            }

            &:before {
                position: absolute;
                left: 0;
            }
        }
    }

    .error {
        .post-title,
        .post-text {
            border-color: $color-primary32;
        }
    }

    .add-article-tag-list {
        .tag-item {
            border: 0;
            border-bottom: 1px solid transparent;
            text-decoration: none;
            height: auto;
            padding: 0;
            border-radius: 0;
            width: auto;
            line-height: 20px;
            margin-right: 10px;

            &:focus {
                outline: 0;
                border-bottom-color: $color-primary15;
                box-shadow: none;
            }

            &::-webkit-input-placeholder {
                color: $color-primary15;
            }

            &::-moz-placeholder {
                color: $color-primary15;
            }

            &:-ms-input-placeholder {
                color: $color-primary15;
            }

            &:-moz-placeholder {
                color: $color-primary15;
            }

            &-remove {
                cursor: pointer;
                transition: transition(color);

                &:hover {
                    color: $color-primary21;
                }
            }
        }
    }

    .tag-list-add_new {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        .suggestion-list {
            padding: 0;
            list-style: none;
            width: calc(100% - 10px);

            li {
                margin: 0;
                color: $color-primary15;

                &:last-child {
                    color: $color-primary16;
                }
            }
        }
    }

    .similar_posts-add_new,
    .tag-list-add_new {
        .suggestion-list {
            box-shadow: 0 4px 8px 0 rgba($color-primary38, 0.16);
            border-radius: 0 0 4px 4px;

            li {

                &:last-child {
                    border-radius: 0 0 4px 4px;
                }

                &:hover {
                    background: $color-primary12;
                    color: $color-primary1;
                }
            }
        }
    }
}
