.create_article {
    &-add_main_img {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        transition: transition(color);
        cursor: pointer;

        &:hover,
        &:focus {
            @include tablet-all {
                color: $color-primary1;

                .create_article-add_main_img-icon:after,
                .create_article-add_main_img-icon:before {
                    border-color: $color-primary1;
                    background-color: $color-primary1;
                }
            }
        }

        &-wrap {
            @include tablet-all {
                @include position(absolute, top 170px right 65px);

                width: 200px;
            }

            @include mobile {
                margin-bottom: 25px;
            }

            text-align: center;
        }

        &-icon {
            position: relative;
            width: 24px;
            height: 24px;
            margin-bottom: 10px;

            &:after,
            &:before {
                @include position(absolute, top 50% left 0);

                transform: translate(0, -50%);
                content: "";
                border: 2px solid $color-primary7;
                background-color: $color-primary7;
                width: 24px;
                transition: transition(all);
            }

            &:before {
                transform: rotate(90deg);
                margin-top: -1px;
            }
        }
    }
}