

$colors: (
	"blue": $color-primary3, 
	"orange": $color-primary19, 
	"red": $color-primary24, 
	"green": $color-primary40, 
	"grey": $color-primary28 );
.statics-content {
	@include tablet-all {
		display: flex;
		justify-content: space-between;
	}
}

.statics_charts {
	@include tablet-all {
		flex: 0 1 49%;
	}

	@include mobile {
		margin-bottom: 20px;
	}

	&-item {
		padding: 15px;

		@each $color-name, $color in $colors {
			&.m-chart.m-#{$color-name} {
				background-color: transparent;
				border: 3px solid $color;
			}
		}

		& + & {
			margin-top: 20px;
		}
	}
}
.statics_grid {
	@include tablet-all {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-flow: dense;
		grid-gap: 20px;
		flex: 0 1 49%;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 15px;
		text-align: center;
		font-family: $font-main-regular;
		color: $color-primary1;

		.label {
			font-size: 14px;
			line-height: 1.5;
		}

		.value {
			padding: 15px 0;
			font-size: 24px;
			line-height: 1.5;
		}

		@each $color-name, $color in $colors {
			&.m-#{$color-name} {
				background-color: $color;
			}
		}
	}
}
