.statics_grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;

	&-item {
		padding: 5px 25px;
		text-align: center;
		background-color: lightpink;
		font-family: $font-main-regular;
		color: $color-primary1;

		.label {
			font-size: 14px;
			line-height: 1.5;
		}

		.value {
			padding: 15px 0;
			font-size: 24px;
			line-height: 1.5;
		}

		&.m-blue {
			background-color: $color-primary3;
		}

		&.m-orange {
			background-color: $color-primary19;
		}

		&.m-red {
			background-color: $color-primary24;
		}

		&.m-green {
			background-color: $color-primary40;
		}

		&.m-grey {
			background-color: $color-primary28;
		}
	}
}