<div data-th-remove="tag">
    <div class="modal modal-forgot-password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Забыли пароль?
                    </h4>
                    <a href="" class="modal-action modal-action-login js_call-login"
                        data-logintype="js_login-form">Войти</a>
                    <span class="icon-delete modal-close js_modal-close"></span>
                </div>
                <div class="modal-body">
                    <form action="#" class="reset-form js_validate">
                        <div class="form-group">
                            <label for="email-forgot-input" class="label">ЭЛЕКТРОННАЯ ПОЧТА</label>
                            <input name="email" type="email" class="input-text" id="email-forgot-input" required />
                        </div>
                        <div class="form-group form-group-error is-invalid hidden">
                            <span></span>
                        </div>

                        <button class="modal-btn modal-btn-reset">ОТПРАВИТЬ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
