<tr>
    <td style="background: #F7F9FC;border-radius: 0px 0px 4px 4px; padding: 32px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="text-align: center;">
                    <a href="https://discord.gg/VfDthGK" title="discord" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#" data-th-src="${portal.assetUrl({'_path=images/mails/discord.png', '_type=absolute'})}"
                            alt="discord" color="#707070" width="24px" />
                    </a>
                    <a href="https://vk.com/vecherniyekosti" title="vk" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#" data-th-src="${portal.assetUrl({'_path=images/mails/vk.png', '_type=absolute'})}"
                            alt="vk" color="#707070" width="24px" />
                    </a>
                    <a href="https://twitter.com/vecherniyekosti" title="twitter" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#"
                            data-th-src="${portal.assetUrl({'_path=images/mails/twitter.png', '_type=absolute'})}"
                            alt="twitter" color="#707070" width="24px" />
                    </a>
                    <a href="https://www.twitch.tv/vecherniyekosti?fbclid=IwAR0-q-e8eqtOfcn4_ZaT_Q1sDWVWn3YPrwHzXoHTIBHIFGcBd7J3gwn26K8"
                        title="twitch" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#"
                            data-th-src="${portal.assetUrl({'_path=images/mails/twitch.png', '_type=absolute'})}"
                            alt="twitch" color="#707070" width="24px" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCETKVT-Uj-gAqdSTd2YNaMg" title="youtube" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#"
                            data-th-src="${portal.assetUrl({'_path=images/mails/youtube.png', '_type=absolute'})}"
                            alt="youtube" color="#707070" width="24px" />
                    </a>
                    <a href="https://www.instagram.com/vecherniye_kosti/" title="instagram" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#"
                            data-th-src="${portal.assetUrl({'_path=images/mails/instagram.png', '_type=absolute'})}"
                            alt="instagram" color="#707070" width="24px" style="border-radius: 2px;" />
                    </a>
                    <a href="https://www.facebook.com/vecherniyekosti/" title="facebook" target="_blank"
                        style="text-decoration: none; display: inline-block; padding: 4px; vertical-align: middle;">
                        <img src="#" data-th-src="${portal.assetUrl({'_path=images/mails/facebook.png', '_type=absolute'})}"
                            alt="facebook" color="#707070" width="24px" />
                    </a>
                </td>
            </tr>
            <tr>
                <td style="color: #8A7C90; font-family: Arial; font-size: 16px; text-align: center; padding-right: 16px;">
                    © Вечерние Кости 2022
                </td>
            </tr>
        </table>
    </td>
</tr>