<header class="kosticonnect-header">
    <div class="site_content">
        <div class="kosticonnect-header_inner m-kostirpg">
            <div class="kosticonnect-short_info">
                <a data-th-href="${logoUrl}">
                    <div class="kosticonnect-headline">
                        <img data-th-src="${logo}" alt="kosticonnect " />
                    </div>
                </a>
            </div>
            <div class="header-logo">
                <a data-th-href="${kostirpgUrl}" data-th-title="${'Главная'}">
                    <img data-th-src="${portal.assetUrl({'_path=images/kostirpg_logo_new_logo_full.svg'})}"
                        alt="Логотип Вечерние Кости" class="header-logo-default" />
                    <img data-th-src="${portal.assetUrl({'_path=images/kostirpg_logo_new_logo_icon.svg'})}"
                        alt="Логотип Вечерние Кости" class="header-logo-scroll" />
                </a>
            </div>
            <div data-th-utext="${headerUser}" class="header-user js_header-user-wrap"></div>
        </div>
    </div>
    <div data-th-if="${user}" class="js_header-user hidden" data-th-attr="data-userid=${user.content._id}"></div>
</header>