<script src="https://cdn.tiny.cloud/1/bjocqei8sx4e4qom6muuy7eugbpc20u5bim7tu2zg8veawoj/tinymce/5/tinymce.min.js">
</script>
<div data-th-utext="${tinymceStyles}" data-th-remove="tag"></div>
<div class="my_games js-my_games" data-th-if="${currUserFlag and showGmComponents}">
    <div class="my_games-event_name-list">
        <a class="my_games-event_name-item" data-th-classappend="${festival.active ? 'active' : ''}"
            data-th-each="festival : ${festivals}" data-th-text="${festival.displayName}"
            data-th-href="${portal.pageUrl({'_path='+content._path,'action=games', 'festId='+festival._id})}"></a>
    </div>
    <div class="js-my_games-wrapper">
        <div data-th-utext="${gameMasterForm}" data-th-remove="tag"></div>
    </div>
</div>
<div class="my_games-signed-wrapper" data-th-if="${hasGames}">
    <div data-th-each="fest : ${playerFestivals}" data-th-remove="tag">
        <div data-th-if="${fest.games.size > 0}" data-th-remove="tag">
            <div class="my_games-gm-header">
                <h2 class="my_games-title">
                    Мои игры на
                    <span data-th-text="${fest.displayName}" data-th-remove="tag"></span>
                </h2>
            </div>
            <ul class="my_games-game_block-list m-player_profile">
                <li data-th-each="game : ${fest.games}" class="my_games-available-item"
                    data-th-classappend="${game.processed.currUserMaster ? 'm-is_gm' : ''}">
                    <div class="my_games-short_info">
                        <div class="my_games-short_info-left">
                            <span data-th-text="${game.processed.block.processed.dayName}"></span> <span
                                data-th-text="${game.processed.block.content.displayName}"></span>
                            <span>
                                <span data-th-text="${game.processed.block.processed.time.start}"></span> -
                                <span data-th-text="${game.processed.block.processed.time.end}"></span>
                            </span>
                        </div>
                        <div class="my_games-short_info-right">
                            <a class="my_games-signed-link" data-th-href="${game.processed.url}"
                                data-th-text="${game.content.displayName}"></a>
                            <div class="my_games-action-block">
                                <div>
                                    <span data-th-unless="${game.processed.currUserMaster}" data-th-remove="tag">
                                        <span>Ведущий</span>
                                        <span data-th-text="${game.processed.master.data.firstName}"></span>
                                    </span>
                                    <span data-th-if="${game.processed.currUserMaster}" class="my_games-action-text">
                                        Ты ведущий игры!
                                    </span>
                                    <span data-th-if="${game.content.data.exclusive}"
                                        class="my_games-signed-exclusive_game"><i class="icon-rock"></i> Турбо
                                        игра</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="blog-list-empty js_blog-list-empty" data-th-unless="${hasGames}">
    Игр пока нет.
</div>