<div class="modal js_edit_user-modal m-edit_user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Настройки профиля
                </h4>
                <span class="icon-delete modal-close js_modal-close"></span>
            </div>
            <div class="modal-body">
                <form class="edit_user-form form-group-2_up js_edit_user-form">
                    <div class="form-group">
                        <label for="displayName-user-input" class="label">Никнейм</label>
                        <input data-th-value="${user.displayName} ? ${user.displayName} : ''" name="displayName"
                            type="text" class="input-text" id="displayName-user-input" />
                    </div>
                    <div class="form-group" data-th-unless="${discord}">
                        <label class="label">Подключить дискорд</label>
                        <a data-th-href="${discordUrl}" class="button social_login-discord">Discord</a>
                    </div>
                    <div class="form-group" data-th-if="${discord}">
                        <label class="label">Discord</label>
                        <input data-th-value="${discord.username + ':' + discord.discriminator}"
                            data-th-placeholder="${portal.localize({'_key=myGames.form.discord.placeholder', '_locale=ru'})}"
                            type="text" data-ignore="true" disabled />
                    </div>
                    <div class="form-group">
                        <label for="name-user-input" class="label">ИМЯ</label>
                        <input data-th-value="${user.data.firstName} ? ${user.data.firstName} : ''" name="firstName"
                            type="text" class="input-text" id="name-user-input" />
                    </div>
                    <div class="form-group">
                        <label for="surname-user-input" class="label">Фамилия</label>
                        <input data-th-value="${user.data.lastName} ? ${user.data.lastName} : ''" name="lastName"
                            type="text" class="input-text" id="surname-user-input" />
                    </div>
                    <!-- <div class="form-group" data-th-if="${vk}">
                        <label class="label">VK</label>
                        <input data-th-value="${vk.first_name + ' ' + vk.last_name}"
                            data-th-placeholder="${portal.localize({'_key=myGames.form.vk.placeholder', '_locale=ru'})}"
                            type="text" data-ignore="true" disabled />
                    </div>
                    <div class="form-group" data-th-unless="${vk}">
                        <label class="label">Подключить VK</label>
                        <a data-th-href="${vkUrl}" class="button social_login-vk">Вконтакте</a>
                    </div>
                    <div class="form-group" data-th-if="${facebook}">
                        <label class="label">Facebook</label>
                        <input data-th-value="${facebook.first_name + ' ' + facebook.last_name}"
                            data-th-placeholder="${portal.localize({'_key=myGames.form.facebook.placeholder', '_locale=ru'})}"
                            type="text" data-ignore="true" disabled />
                    </div>
                    <div class="form-group" data-th-unless="${facebook}">
                        <label class="label">Facebook</label>
                        <button class="button social_login-fb">Facebook</button>
                    </div> -->
                    <div class="form-group">
                        <label for="city-user-input" class="label">Город</label>
                        <input data-th-value="${user.data.city} ? ${user.data.city} : ''" name="city" type="text"
                            class="input-text" id="city-user-input" />
                    </div>
                    <div class="form-group">
                        <label for="phone-user-input" class="label">Телефон</label>
                        <input data-th-value="${user.data.phone} ? ${user.data.phone} : ''" name="phone" type="text"
                            class="input-text" id="phone-user-input" />
                    </div>
                    <div class="form-group">
                        <label for="postal-code-user-input" class="label">Почтовый индекс</label>
                        <input data-th-value="${user.data.postalCode} ? ${user.data.postalCode} : ''" name="postalCode"
                            type="text" class="input-text" id="postal-code-user-input" />
                    </div>
                    <div class="form-group">
                        <label for="country-user-input" class="label">Страна</label>
                        <select name="country" id="country-user-input">
                            <option value="Выберите страну" disabled="disabled"
                                data-th-selected="${!user or !user.data.country}">
                                Выберите
                                страну</option>
                            <option data-th-value="${country.code}" data-th-each="country: ${countries.countries}"
                                data-th-selected="${user && user.data.country == country.code}"
                                data-th-text="${portal.localize({'_key=countries.' + country.code, '_locale=ru'})}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="address-user-input" class="label">Адрес</label>
                        <input data-th-value="${user.data.address} ? ${user.data.address} : ''" name="address"
                            type="text" class="input-text" id="address-user-input" />
                    </div>
                    <div class="form-group">
                        <label for="address-user-input" class="label">Билет
                            Костиконнект2022</label>
                        <input data-th-if="${userHasTicket}" data-th-disabled="${userHasTicket}"
                            data-th-value="${turboTicket} ? 'Турбо билет' : 'Обычный билет'" name="kosticonnect2022"
                            type="text" class="input-text" id="kosticonnect2022-input" />
                        <input data-th-unless="${userHasTicket}" name="kosticonnect2022" type="text" class="input-text"
                            id="kosticonnect2022-input" />
                    </div>
                    <input name="id" type="hidden" data-th-value="${user._id}" />
                    <input name="action" type="hidden" value="edit" />
                    <button type="submit" class="modal-btn modal-btn-remove">
                        Обновить
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>