<!DOCTYPE html>
<html>

<head data-th-utext="${pageComponents.pagehead}"></head>

<body>
    <header class="header" data-th-utext="${pageComponents.header}"></header>
    <main class="main admin-wrap">
        <div class="site_width">
            <div class="orders">
                <div class="orders-search">
                    <form class="orders-search" method="GET">
                        <div class="form-group-column">
                            <div class="form-group">
                                <label class="order-label">Search</label>
                                <input data-th-value="${params.search}" name="search" type="text" class="input-text" />
                            </div>
                            <div class="form-group">
                                <label for="country-checkout-select" class="label">СТРАНА</label>
                                <div class="select-field">
                                    <select name="country" id="country-checkout-select">
                                        <option data-th-selected="${params.country == ''}" value="">All</option>
                                        <option data-th-value="${country.code}"
                                            data-th-each="country: ${countries.countries}"
                                            data-th-text="${portal.localize({'_key=countries.' + country.code, '_locale=ru'})}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country-checkout-select" class="label">STATUS</label>
                                <div class="select-field">
                                    <select name="status">
                                        <option value="" data-th-selected="${params.status == ''}">All</option>
                                        <option value="paid" data-th-selected="${params.status == 'paid'}">Paid</option>
                                        <option value="created" data-th-selected="${params.status == 'created'}">Created
                                        </option>
                                        <option value="pending" data-th-selected="${params.status == 'pending'}">Pending
                                        </option>
                                        <option value="failed" data-th-selected="${params.status == 'failed'}">Failed
                                        </option>
                                        <option value="shipped" data-th-selected="${params.status == 'shipped'}">Shipped
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="country-checkout-select" class="label">PRODUCT</label>
                                <div class="select-field">
                                    <select name="product">
                                        <option value="" data-th-selected="${params.product == ''}">All</option>
                                        <option data-th-each="product: ${products}" data-th-value="${product._id}"
                                            data-th-selected="${params.product == product._id}"
                                            data-th-text="${product.displayName}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group orders-search-action">
                                <button type="submit" class="button-light checkout-continue">
                                    Apply filters
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-wrap">
                    <div class="table-header_row">
                        <div class="table-header_cell">
                            <span class="label">Номер заказа</span>
                        </div>

                        <div class="table-header_cell">
                            <span class="label">Дата заказа</span>
                        </div>

                        <div class="table-header_cell">
                            <span class="label">Товары</span>
                        </div>

                        <div class="table-header_cell">
                            <span class="label">Статус</span>
                        </div>

                        <div class="table-header_cell table-action_cell">
                            <span class="label">Действия</span>
                        </div>
                    </div>

                    <div class="table-body_row" data-th-each="item: ${carts}">
                        <div class="table-body_cell table-side_aligns">
                            <span class="label">
                                Номер заказа
                            </span>
                            <span class="value" data-th-text="${item.userId}">
                                123456789
                            </span>
                        </div>

                        <div class="table-body_cell table-side_aligns salesreps-list-email_cell">
                            <span class="label">Дата заказа</span>
                            <span class="value" data-th-text="${item.dates.createdTime}">
                                19.05.2018
                            </span>
                        </div>

                        <div class="table-body_cell table-side_aligns">
                            <div class="value" data-th-each="product: ${item.items}">
                                <span data-th-text="${product.amount + 'X '}"></span>
                                <span data-th-text="${product.displayName}"></span>
                                <span data-th-text="${product.itemSize != null ? ' ' + product.itemSize : ''}"></span>
                            </div>
                        </div>

                        <div class="table-body_cell table-side_aligns">
                            <span class="value" data-th-text="${item.status}"> </span>
                        </div>

                        <div class="table-body_cell table-side_aligns">
                            <a data-th-href="${'/orders/single?id=' + item._id}" class="button">Детали</a>
                        </div>
                    </div>
                </div>
                <div data-th-utext="${pagination}"></div>

                <div class="read-qr-block">
                    <a data-th-href="${portal.serviceUrl({'_service=orders', 'action=readQr'})}"
                        class="button button-light">Считать QR код</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" data-th-utext="${pageComponents.footer}"></footer>
</body>

</html>