<!DOCTYPE html>
<html>

<head data-th-utext="${pageComponents.pagehead}"></head>

<body class="page-wrapper">
    <div data-th-remove="tag" data-th-utext="${pageComponents.loginRegisterModal}"></div>
    <header class="header" data-th-utext="${pageComponents.header}"></header>
    <main class="main admin-wrap">
        <div class="site_width">
            <a href="/orders" class="checkout-back">Back to list</a>
            <div class="order">
                <div class="order-table">
                    <h2 class="order-title">
                        Order details
                    </h2>
                    <div class="order-info-item">
                        <div class="order-row order-row_column">
                            <div class="order-column">
                                <h3 class="order-label">Order ID:</h3>
                                <div class="order-value" data-th-text="${cart.userId}"></div>
                                <h3 class="order-label">Order created date:</h3>
                                <div class="order-value" data-th-text="${cart.dates.createdTime}"></div>
                            </div>

                            <div class="order-column">
                                <h3 class="order-label">Payment:</h3>
                                <div class="order-value" data-th-text="${cart.paymentMethod}"></div>
                                <div data-th-if="${cart.dates.transactionTime}" data-th-remove>
                                    <h3 class="order-label">Payment date:</h3>
                                    <div class="order-value" data-th-text="${cart.dates.transactionTime}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="order-row order-row_column">
                            <div class="order-column">
                                <h3 class="order-label">Address:</h3>
                                <div class="order-value">
                                    <p
                                        data-th-text="${portal.localize({'_key=countries.' + cart.country, '_locale=ru'})}">
                                    </p>
                                    <p data-th-text="${cart.city + ', ' + cart.address}"></p>
                                    <p data-th-text="${cart.cityLatinic + ', ' + cart.addressLatinic}"></p>
                                </div>
                                <h3 class="order-label">Index:</h3>
                                <div class="order-value" data-th-text="${cart.index}"></div>
                                <h3 class="order-label">Shipping:</h3>
                                <div class="order-value">
                                    <p
                                        data-th-text="${portal.localize({'_key=store.shipping.' + cart.shipping, '_locale=ru'})}">
                                    </p>
                                    <p data-th-text="${cart.novaPoshtaСity}"></p>
                                    <p data-th-text="${cart.novaPoshtaWarehouse}"></p>
                                </div>
                            </div>
                            <div class="order-column">
                                <h3 class="order-label">Name:</h3>
                                <div class="order-value" data-th-if="${cart and cart.name and cart.surname}"
                                    data-th-text="${cart.name + ' ' + cart.surname}"></div>
                                <div class="order-value" data-th-if="${cart and cart.name and cart.surname}"
                                    data-th-text="${cart.nameLatinic + ' ' + cart.surnameLatinic}"></div>
                                <h3 class="order-label">Email:</h3>
                                <div class="order-value" data-th-text="${cart.email}"></div>
                                <h3 class="order-label">Phone:</h3>
                                <div class="order-value" data-th-text="${cart.phone}"></div>
                            </div>
                        </div>
                        <div class="order-row" data-th-if="${cart.comment}">
                            <h3 class="order-label">Comment:</h3>
                            <div data-th-text="${cart.comment}"></div>
                        </div>
                        <div class="order-row">
                            <h3 class="order-label">Items:</h3>
                            <div class="order-value">
                                <div class="cart-list">
                                    <div data-th-each="item: ${cart.items}" class="cart-item">
                                        <a data-th-href="${portal.pageUrl({'_id='+item._id})}"
                                            data-th-attr="title=${item.displayName}">
                                            <div class="cart-product_img">
                                                <img data-th-src="${item.imageCart.urlAbsolute}" alt="product image" />
                                            </div>
                                        </a>
                                        <div class="cart-product_description">
                                            <div data-th-text="${item.displayName}" class="cart-product_title"></div>
                                            <div data-th-if="${item.itemSize != ''}" class="cart-product_size">
                                                <span class="label">Размер: </span>
                                                <span class="value" data-th-text="${item.itemSize}"></span>
                                            </div>
                                            <span class="label">Количество: </span>
                                            <span class="value" data-th-text="${item.amount}"></span>
                                            <div data-th-if="${item.itemsIds.size > 0}" class="cart-product_size">
                                                <span class="label">Ids: </span>
                                                <div data-th-each="itemId: ${item.itemsIds}" class="value"
                                                    data-th-text="${itemId.id}"></div>
                                            </div>
                                            <div data-th-text="${item._id}" hidden></div>
                                        </div>
                                        <span class="cart-remove_btn remove-btn js_api-call-button-with-data"
                                            data-url="/api/orders/remove-item"
                                            data-th-attr="data-itemid=${item._id}, data-size=${item.itemSize}, data-cartid=${cart._id}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-info-item">
                        <div class="order-row">
                            <h3 class="order-label">Send shipped mail:</h3>
                            <form class="order-value order-row_column" action="/api/orders/shipped">
                                <input data-th-value="${cart._id}" name="id" type="hidden" />
                                <div class="order-column">
                                    <input data-th-value="${cart.trackNum} ? ${cart.trackNum} : ${''}" name="track"
                                        type="text" class="input-text" />
                                </div>
                                <div class="order-column">
                                    <button class="js_api-call-button-with-form button-light">
                                        Send shipped mail
                                    </button>
                                </div>
                            </form>
                            <form action="/api/orders/update">
                                <h3 class="order-label">Status:</h3>
                                <div class="order-row_column">
                                    <input data-th-value="${cart._id}" name="id" type="hidden" />
                                    <div class="order-column select-field order-set_status-field">
                                        <select name="status" id="pdp-size-select"
                                            class="pdp-size_select select js_update-api-button-data-select">
                                            <option value="created" data-th-selected="${cart.status == 'created'}">
                                                Created
                                            </option>
                                            <option value="pending" data-th-selected="${cart.status == 'pending'}">
                                                Pending
                                            </option>
                                            <option value="paid" data-th-selected="${cart.status == 'paid'}">Paid
                                            </option>
                                            <option value="failed" data-th-selected="${cart.status == 'failed'}">Failed
                                            </option>
                                            <option value="shipped" data-th-selected="${cart.status == 'shipped'}">
                                                Shipped
                                            </option>
                                        </select>
                                    </div>
                                    <div class="order-column">
                                        <button class="js_api-call-button-with-form button-light ">
                                            Set status
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="order-row">
                            <h3 class="order-label">Actions:</h3>
                            <div class="h-mb-15">
                                <button data-url="/api/orders/confirmation" data-th-attr="data-id=${cart._id}"
                                    class="js_api-call-button-with-data button-light">
                                    Resend order confirmation mail
                                </button>
                            </div>
                            <div class="h-mb-15" data-th-if="${cart.country == 'ua' and cart.novaPoshtaWarehouseId}">
                                <button data-url="/api/orders/nova-poshta" data-th-attr="data-id=${cart._id}"
                                    class="js_api-call-button-with-data button-secondary">
                                    Create Nova poshta order
                                </button>
                            </div>
                            <div>
                                <button data-url="/api/orders/generate" data-th-attr="data-id=${cart._id}"
                                    class="js_api-call-button-with-data button-link">
                                    Regenerate Ids
                                </button>
                            </div>
                        </div>
                        <div class="order-row order-products">
                            <form action="/api/orders/add-item">
                                <input data-th-value="${cart._id}" type="hidden" name="cartId" />
                                <div class="form-group-column">
                                    <div class="form-group select-field">
                                        <label class="order-label" for="item-orders-select">Item</label>
                                        <select name="itemId" class="pdp-size_select select" id="item-orders-select">
                                            <option data-th-each="product: ${products}" data-th-value="${product._id}"
                                                data-th-text="${product.displayName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount-orders-input" class="order-label">Amount</label>
                                        <input name="amount" id="amount-orders-input" type="text" class="input-text" />
                                    </div>
                                </div>
                                <div class="form-group-column">
                                    <div class="form-group">
                                        <label for="size-orders-input" class="order-label">Size</label>
                                        <input name="size" id="size-orders-input" type="text" class="input-text" />
                                    </div>
                                    <div class="form-group">
                                        <button value="Add item" class="js_api-call-button-with-form button-light ">
                                            Add item
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer" data-th-utext="${pageComponents.footer}"></footer>
</body>

</html>