<footer class="fest_contacts">
    <div class="back_to_top js_back_to_top hide"></div>
    <div class="site_content">
        <div class="k_social social">
            <h2 class="k_social-title kosticonnect-title">
                СОЦСЕТИ ФЕСТИВАЛЯ
            </h2>
            <div class="social-list social-list__sides_align">
                <a href="https://www.facebook.com/vecherniyekosti" class="social-link facebook" title="Facebook"></a>
                <a href="https://vk.com/vecherniyekosti" class="social-link vk" title="VK"></a>
                <a href="https://twitter.com/vecherniyekosti" class="social-link twitter hidden" title="Twitter"></a>
                <a href="https://www.youtube.com/channel/UCETKVT-Uj-gAqdSTd2YNaMg" class="social-link youtube"
                    title="Youtube"></a>
                <a href="https://www.instagram.com/vecherniye_kosti" class="social-link instagram"
                    title="Instagram"></a>
                <a href="https://www.twitch.tv/vecherniyekosti" class="social-link twitch" title="Twitch"></a>
                <a href="https://discord.gg/VfDthGK" class="social-link discord" title="Discord"></a>
                <a href="https://t.me/vecherniyekosti" class="social-link telegram" title="Telegram"></a>
            </div>
        </div>
        <div class="about_us">
            <h3 class="about_us-title">ОБРАЩАЙТЕСЬ ПО ЛЮБЫМ ВОПРОСАМ:</h3>
            <p><a class="about_us-link" href="mailto:info@kostirpg.com">info@kostirpg.com</a></p>
            <p><a class="about_us-link" href="tel:+380662098750">+380662098750</a></p>
        </div>
    </div>
</footer>