.my_games { 
    &-signed {
        &-wrapper {
            background-color: $color-primary1;
            padding: 40px 0;
            box-shadow: 0 5px 15px 0 rgba($color-primary21, 0.05);
        }

        &-link {
            font-weight: bold;
            font-size: 14px;
            line-height: 1.45;
            color: $kosticonnect-primary3;
            padding-top: 8px;

            &:hover {
                color: lighten($kosticonnect-primary3, 20)
            }
        }

        &-exclusive_game {
            background: #f5a623;
            color: #fff;
            font-size: 10px;
            padding: 1px 5px;
            position: absolute;
            right: -1px;
            top: -1px;
            border-radius: 0 4px 0 0;

            .icon-rock:before {
                font-size: 12px;
            }
        }

        &-info {
            flex: 1 1 100%;
        }
    }
}